/* Шапка */
header {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
}
.headlogo {
    width: 140px;
    height: 58px;
}
.header_menu {
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
}
.based {
    color: rgb(112, 184, 6);
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
}

/*Текст посередине*/
.main_text{
    font-size: 25px;
}


/* Ссылки */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(112, 184, 6);
}

/* Середина сайта */
.back_logo {
    padding: 0%;
    margin: 0; /* Убрана излишняя коррекция */
    position: relative; /* Для корректного взаимодействия с place */
    z-index: 0; /* Размещается ниже place */
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убирает горизонтальный скролл */
    box-sizing: border-box; /* Включает padding и border в размеры элементов */
}


ul {
    list-style-type: none;
}
.reg {
    display: inline-block; /* Для более точного контроля */
    background-color: rgb(112, 184, 6); /* Зелёный цвет */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 15px; /* Закруглённые углы */
    text-align: center; /* Центровка текста */
    line-height: 60px; /* Вертикальная центровка текста */
    font-family: 'Nunito', sans-serif; /* Шрифт */
    font-size: 16px; /* Размер текста */
    cursor: pointer; /* Указатель меняется на руку при наведении */
    transition: background-color 0.3s ease; /* Анимация при наведении */
    width: 120%;
    margin-top: 10px;
}

.reg:hover {
    background-color: rgb(94, 153, 6); /* Темнее при наведении */
}

/* Ссылка внутри кнопки */
.reg a {
    color: white; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчёркивание */
    display: inline-block; /* Чтобы текст следовал стилям контейнера */
    line-height: 60px; /* Центровка текста внутри кнопки */
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.before_documents {
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
}
.documents_page {
    display: flex;
    margin-bottom: 100px;
}
.documents2 {
    border: none;
    border-radius: 40px;
    margin-left: 30px;
    padding: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 360px;
    height: 170px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-top: 8px solid rgb(112, 184, 6);
}

.centered, .secondcentered {
    text-align: center; /* Центровка текста */
    position: absolute; /* Проверить если влияет на overflow */
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.secondcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.place {
    background-color: rgb(94, 124, 92);
    padding: 1%;
    margin-top: -50px; /* Отрицательный верхний отступ */
    /* margin-bottom: 100px; */
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    border-radius: 30px 30px 0 0;
    position: relative; /* Для правильного наложения */
    z-index: 1; /* Указывает порядок отображения, чтобы элемент оказался поверх */
    height: 70px;
}
.place_title{
    color: rgb(35, 35, 35);
}
.overlapping-div {
    background-color: white; /* Белый цвет */
    height: 50px; /* Высота нового дива */
    margin: -20px auto 50px; /* Отрицательный верхний отступ для перекрытия */
    border-radius: 30px 30px 0 0; /* Закругленные нижние углы */
    position: relative; /* Для правильного размещения */
    z-index: 1; /* Чтобы быть выше place */
}


.basicpage {
    display: flex;
    margin-bottom: 10%;
}
.page1 {
    flex-direction: column;
    margin-left: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
section {
    margin-left: 400px;
}
.news1 {
    font-family: 'Nunito', sans-serif;
    margin-right: 100px;
}

.basic_news {
    font-size: 40px;
}
.news_title {
    font-size: 20px;
}

/* Подвал */
footer {
    background-color: rgb(94, 124, 92);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.footer_content {
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.footer_logo {
    width: 240px;
    height: 110px;
    margin-top: 100px;
    margin-left: 600px;
}
.footer_first {
    font-size: 32px;
    margin-left: 40px;
    color: rgb(35, 35, 35);
}
.footer_menu {
    font-size: 27px;
    margin-left: 40px;
    color: rgb(35, 35, 35);
}
.prava {
    color: rgb(135, 140, 145);
    text-align: center;
    font-size: 16px;
}

@media (max-width: 1366px) and (max-height: 768px) {
    /*Шапка*/
    .headlogo{
        width: 120px;
        height: 50px;
    }
    .reg{
        margin-top: 1px;
        height: 60px;
    }
    .header_menu{
        font-size: 18px;
    }
    .based{
        font-size: 18px;
    }
    /*Бэкграунд*/
    .centered{
        font-size: 15px;
    }
    .secondcentered{
        font-size: 40px;
    }
    .place_title{
        font-size: 28px;
    }
    /*Середина*/
    section {
        margin-left: 150px;
    }
    .main_text{
        font-size: 20px;
    }
    .before_documents {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
    }
    .documents2{
        width: 320px;
        height: 120px;
    }
    /*Подвал*/
    .footer_logo {
        width: 240px;
        height: 110px;
        margin-top: 100px;
        margin-left: 300px;
    }
    .footer_first {
        font-size: 25px;
        margin-left: 40px;
        color: rgb(35, 35, 35);
    }
    .footer_menu {
        font-size: 17px;
        margin-left: 40px;
        color: rgb(35, 35, 35);
    }
}
